<footer id="colophon" class="clearfix"> 
  <div class="footer-socket-wrapper clearfix">
    <div class="inner-wrap">
      <div class="footer-socket-area">
        <div class="copyright"><a href="http://isweb.is.tuebingen.mpg.de/dali/?page_id=175">Imprint</a></div>
        <nav class="footer-menu" class="clearfix">
          <div class="menu-menu-1-container">
	    <ul id="menu-menu-2" class="menu">	      
              {% for page in site.pages %}
              {% if page.title %}
              <li class="menu-item menu-item-type-post_type menu-item-object-page {{ page.title }}"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
              {% endfor %}  
	    </ul>
	  </div>
	</nav>
      </div>
    </div>
  </div>      
</footer>
<a href="#masthead" id="scroll-up"><i class="fa fa-long-arrow-up"></i></a>  
