---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">({% if page.organizers %}{% for organizer in page.organizers %}{% if organizer.url %}<a href="{{ organizer.url }}">{% endif %}{{ organizer.firstname }} {{ organizer.lastname }}{% if organizer.url %}</a>{% endif %}{% if page.organizers | size>1 %}, {% endif %}{% endfor %}{% endif %} {{ page.date | date: "%b %-d" }})</p>
  </header>

  <article class="post-content">
    {% if page.organizer_url %}<a href="{{ page.url }}">Organizer's workshop page</a>{% endif %}

    {% for talk in page.talks %}
    <p>{{ talk.start }} {% if talk.end %}- {{ talk.end }}{% endif %} {{ talk.speaker }}: {{ talk.title }}</p>
    {% endfor %}
    {{ content }}
  </article>

</div>
